<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org/">
    <head th:replace="fragments :: head"></head>
    <title th:text="${title}">Default Title</title>
    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>


        <form th:object="${menu}" method="POST" style="max-width:600px;">
            <div class="form-group">
                <label th:for="name">Menu Name</label>
                <input th:field="*{name}" class="form-control"/>
                <span th:errors="*{name}" class="text-danger"></span>
            </div>

            <input type="submit" value="Add Menu" />
        </form>


    </body>
</html>